<!-- Embedded JavaScript -->
<div id="contactus" class="panel panel-default">
  <div class="panel-body">
    <div class="row">
        <div id="address" class="col-md-4">
            <h2>Our Location</h2>
            <address>
                <strong>Tax Academy </strong><br>
                133, B.K.Pal Avenue, <br>
                 3rd floor, <br>
                Kolkata - 700005<br>
                West Bengal<br>
                (2 mins walk from Sovabazar metro station)<br>
                <abbr>P:</abbr> +918420076349
                <abbr>P:</abbr> +918336832356
            </address>
        </div>
        <div id="map-container" class="col-md-8"></div>
    </div>
  </div>
</div>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>

    
    
    function init_map() {
      var myLocation = new google.maps.LatLng(22.5963282,88.363503);
    
      var mapOptions = {
        center: myLocation,
        zoom: 14
      };
    
      var marker = new google.maps.Marker({
          position: myLocation,
          title:"Tax Academy"});
    
      var map = new google.maps.Map(document.getElementById("map-container"),
          mapOptions);
    
      marker.setMap(map);	
    
    }
    
    google.maps.event.addDomListener(window, 'load', init_map);
    
</script>
  </body>
</html>
