<!-- Embedded JavaScript -->
<div class="alert alert-default text-center" role="alert">
    <a class="btn btn-lg btn-success" href="tel:+9184200763499" role="button">
            <abbr title="Phone"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></abbr>
           
        </a><strong class="lead">+918420076349</strong> 
<a class="btn btn-lg btn-success" href="tel:+9184200763499" role="button">
            <abbr title="Phone"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></abbr>
            
        </a><strong class="lead">+918336832356</strong>
</div>