<!-- Embedded JavaScript -->
<div id="courses">
    <blockquote>
     <h3>We are currently conducting <span class="text-uppercase">tax classes</span> for 
         <span class="label label-warning">CA-IPCC Level</span> and 
         <span class="label label-warning">CS-Executive Level</span></h3>
        <h2><span class="label label-primary text-capitalize">Call us now !!</span> </h2><% include contactus%>
   </blockquote>
    
</div>
