<!-- Embedded JavaScript -->
<div id="faculty" class="media">
  <a class="media-left" style="float: left" href="#">
    <div class="thumbnail" >
      <img src="images/harsh.png" alt="..." style=" width: 200px;"></div>
  </a>
  <div class="media-body faculty-content">
    <h3 class="media-heading faculty-name" > CA Harsh Gadodia</h3>
    CA Harsh Gadodia is a practising chartered accountant expertise in the field of tax. Cleared B.Com (Hons) from St. Xaviers' College. He has been providing tax consultancy and representation service to his various clients . He is also a regular contributor of articles on tax related issues and a eminent speaker. Believe in making tax law in India simple, certain and transparent. Focus is on enhancing student's knowledge theoretically and practically to ensure success in the examination and to achieve professional expertise and also  helping the client to make his business streamlined with tax law. 
  </div>
</div>
<div style="clear: both"></div>
<div class="media">
  <a class="media-left" style="float: left" href="#">
    <div class="thumbnail" >
      <img src="images/abhay.jpeg" alt="..." style=" width: 200px;"></div>
  </a>
  <div class="media-body faculty-content">
    <h3 class="media-heading faculty-name" > CA Abhay Mundhra</h3>
    CA Abhay Mundhra is a chartered accountant. Has cleared his B. Com (Hons) from St. Xaviers College. He has expertise in the field of tax. He is in a teaching profession from last 3 year and helps a lot of students to understand the subject not only theoretically but practically as well by demonstrating the practical cases handled by him. Believes in 'Value based Teaching and Life".
  </div>
</div>
<div style="clear: both"></div>