<!-- Embedded JavaScript -->
<!DOCTYPE html>
<html lang="en">
    <head>
    <% include head%>
    </head>

    <body>

        <div class="container">
            <p class="bg-success">Online registrations and payments will be starting soon.</p>
            <% include navigation%>

            <!-- Jumbotron -->
            <div class="jumbotron">
              <% include courses%>
            </div>
            
            <div class="row">&nbsp;</div> <div class="row">&nbsp;</div> 
            <% include faculty%>
             <div class="row">&nbsp;</div><div class="row">&nbsp;</div>
             <% include batchtimings%>
             <% include centerlocation%>
        <div class="backtotop">
            <a href="#"><i class="fa fa-angle-up fa-3x"></i></a>
        </div>
            <!-- Site footer -->
            <footer class="footer">
                <p>&copy; Tax Academy 2014</p>
            </footer>

        </div> <!-- /container -->
    </body>
</html>
