<!-- Embedded JavaScript -->
<div class="masthead">
    <nav>
        <ul class="nav nav-justified">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#courses">Courses</a></li>
            <li><a href="#faculty">Faculty</a></li>
            <li><a href="#batch">Batch Timings</a></li>
            <li><a href="http://taxconsultant-idt.blogspot.in" target="_blank">Blogs</a></li>
            <li><a href="#contactus">Contact Us</a></li>
        </ul>
    </nav>
</div>